{
  "swagger": "2.0",
  "info": {
    "title": "Edge Compute",
    "version": "1.0.0",
    "contact": {
      "name": "StackPath Support",
      "url": "https://support.stackpath.com/"
    }
  },
  "host": "gateway.stackpath.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workload/v1/locations": {
      "get": {
        "summary": "Retrieve the locations a workload may be created in",
        "operationId": "GetLocations",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetLocationsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Workload"
        ]
      }
    },
    "/workload/v1/stacks/{image.stack_id}/images/{image.family}/{image.tag}": {
      "post": {
        "summary": "Create a new image",
        "operationId": "CreateImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1CreateImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "image.stack_id",
            "description": "The ID of the stack that an image belongs to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image.family",
            "description": "An image's family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image.tag",
            "description": "The image's tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateImageRequest"
            }
          }
        ],
        "tags": [
          "Image"
        ]
      },
      "patch": {
        "summary": "Update an image",
        "description": "Only metadata and description can be updated currently. The metadata, if set, will replace the entire existing metadata set. The tag cannot be 'default'.",
        "operationId": "UpdateImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "image.stack_id",
            "description": "The ID of the stack that an image belongs to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image.family",
            "description": "An image's family",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image.tag",
            "description": "The image's tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateImageRequest"
            }
          }
        ],
        "tags": [
          "Image"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images": {
      "get": {
        "summary": "Retrieve a stack's images",
        "description": "Only non-deprecated images are returned by default",
        "operationId": "GetImages",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImagesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack to retrieve images for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deprecated",
            "description": "If present and true, include deprecated images in the result.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Image"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}": {
      "get": {
        "summary": "Retrieve all images for the given family",
        "description": "Only non-deprecated images are returned by default. This will not error but instead return an empty list if the family is not found.",
        "operationId": "GetImagesForFamily",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImagesForFamilyResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack to retrieve images from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The family for the images to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "deprecated",
            "description": "If present and true, include deprecated images in the result.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          }
        ],
        "tags": [
          "Image"
        ]
      },
      "delete": {
        "summary": "Delete all images for a family",
        "description": "This will not error if there was nothing to delete",
        "operationId": "DeleteImagesForFamily",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack containing the images to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The family of the images to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Image"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}/{image_tag}": {
      "get": {
        "summary": "Retrieve an individual image",
        "description": "Tag can be 'default' to get the default image",
        "operationId": "GetImage",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetImageResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack containing the image to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The family of the image to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "The specific tag of image to retrieve\n\nThis must be present, but can be 'default' to get the default image for the family.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Image"
        ]
      },
      "delete": {
        "summary": "Delete an image",
        "operationId": "DeleteImage",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack containing the image to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The family of the image to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "The specific tag of image to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Image"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/images/{image_family}/{image_tag}/deprecation": {
      "put": {
        "summary": "Update deprecation settings for an image",
        "description": "This will replace existing deprecation settings, which means it can undeprecate.",
        "operationId": "UpdateImageDeprecation",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateImageDeprecationResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID or slug of the stack containing the image to update deprecation for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_family",
            "description": "The family of the image to update deprecation for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_tag",
            "description": "The specific tag of image to update deprecation for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ImageDeprecation"
            }
          }
        ],
        "tags": [
          "Image"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/metrics": {
      "get": {
        "summary": "Retrieve usage metrics for all workloads in a stack, a specific workload, or a specific instance in a workload",
        "operationId": "GetMetrics",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/prometheusMetrics"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workloads and instances to retrieve metrics for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID of a workload to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "A lower bound date to search metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "An upper bound date to search metrics for.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "BANDWIDTH",
              "INSTANCE"
            ],
            "default": "BANDWIDTH"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DEFAULT",
              "PT5M",
              "PT1H",
              "P1D",
              "PT1M"
            ],
            "default": "DEFAULT"
          },
          {
            "name": "instance_name",
            "description": "The name of instance name within a workload to filter metrics for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pop",
            "description": "A StackPath POP to filter traffic metrics for. This field does not apply when retrieving INSTANCE type metrics",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ALL",
              "LOCAL_NODE",
              "LOCAL_POP",
              "NORTH_AMERICA",
              "EUROPE",
              "ASIA",
              "OCEANIA",
              "SOUTH_AMERICA",
              "MARKETPLACE",
              "INTERNAL",
              "INTERNET",
              "AFRICA",
              "MIDDLE_EAST"
            ],
            "default": "ALL"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE",
              "INSTANCE_NAME"
            ],
            "default": "NONE"
          },
          {
            "name": "grouping",
            "description": "List of fields to group by.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Metrics"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads": {
      "get": {
        "summary": "Retrieve a stack's workloads",
        "operationId": "GetWorkloads",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadsResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to retrieve workloads from",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Workload"
        ]
      },
      "post": {
        "summary": "Create a new workload",
        "operationId": "CreateWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1CreateWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack to create the workload in",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workload"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}": {
      "get": {
        "summary": "Retrieve an individual workload",
        "operationId": "GetWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID the workload to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Workload"
        ]
      },
      "delete": {
        "summary": "Delete a workload",
        "operationId": "DeleteWorkload",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID of the workload to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Workload"
        ]
      },
      "patch": {
        "summary": "Update a workload",
        "operationId": "UpdateWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1UpdateWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID of the workload to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workload"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances": {
      "get": {
        "summary": "Retrieve a workload's instances",
        "operationId": "GetWorkloadInstances",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstancesResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload whose instances to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID the workload whose instances to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_request.first",
            "description": "The number of items desired.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.after",
            "description": "The cursor value after which data will be returned.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.filter",
            "description": "SQL-style constraint filters.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_request.sort_by",
            "description": "Sort the response by the given field.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}": {
      "get": {
        "summary": "Get a workload instance",
        "operationId": "GetWorkloadInstance",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstanceResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload whose instance to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID of the workload whose instance to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "description": "The name of the instance to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/logs": {
      "get": {
        "summary": "Retrieve a stream of an instance's logs",
        "description": "Retrieve a stream of logs generated by a workload instance's containers. Logs are generated by the container themselves and are not modified by StackPath. Log contents vary by the application running in the container, though many containerized applications are configured to log to STDOUT and STDERR.",
        "operationId": "GetLogs",
        "responses": {
          "200": {
            "description": "(streaming responses)",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "description": "The ID of the stack containing the workload whose instances to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "description": "The ID the workload whose instances to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "description": "The name of the instance to obtain logs for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "container_name",
            "description": "The name of the container to obtain logs for. This defaults to first container in instance.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "follow",
            "description": "Whether or not to follow the instance's log stream. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "previous",
            "description": "Whether or not to return log entries made by previously terminated containers. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "since_seconds",
            "description": "A relative time in seconds before the current time from which to show logs. If this value precedes the time an instance was started, only logs since the instance's start time will be returned. If this value is in the future, no logs will be returned.\n\nOnly one of since_seconds or since_time may be specified",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "since_time",
            "description": "An RFC3339 timestamp from which to show logs. If this value precedes the time an instance was started, only logs since the instance's start time will be returned. If this value is in the future, no logs will be returned.\n\nOnly one of since_seconds or since_time may be specified",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timestamps",
            "description": "Whether or not to add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. This defaults to false.",
            "in": "query",
            "required": false,
            "type": "boolean",
            "format": "boolean"
          },
          {
            "name": "tail_lines",
            "description": "The number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or since_seconds or since_time.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit_bytes",
            "description": "The number of bytes to read from the server before terminating log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "InstanceLogs"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/passwords/initial": {
      "get": {
        "summary": "Get an instance's initial password",
        "operationId": "GetWorkloadInstanceInitialPassword",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1GetWorkloadInstanceInitialPasswordResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/workload/v1/stacks/{stack_id}/workloads/{workload_id}/instances/{instance_name}/power/restart": {
      "post": {
        "summary": "Restart an instance",
        "description": "The action is performed asynchronously and a successful response does not mean the instance has restarted yet.",
        "operationId": "RestartInstance",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "stack_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Instance"
        ]
      }
    },
    "/workload/v1/stacks/{workload.stack_id}/workloads/{workload.id}": {
      "put": {
        "summary": "Replace an existing workload",
        "operationId": "PutWorkload",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1PutWorkloadResponse"
            }
          },
          "401": {
            "description": "Returned when an unauthorized request is attempted.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "500": {
            "description": "Internal server error.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          },
          "default": {
            "description": "Default error structure.",
            "schema": {
              "$ref": "#/definitions/stackpathapiStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "workload.stack_id",
            "description": "The ID of the stack that a workload belongs to",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workload.id",
            "description": "A workload's unique identifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1PutWorkloadRequest"
            }
          }
        ],
        "tags": [
          "Workload"
        ]
      }
    }
  },
  "definitions": {
    "ContainerStatusRunning": {
      "type": "object",
      "properties": {
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date a container started"
        }
      },
      "title": "Properties related to running containers"
    },
    "ContainerStatusTerminated": {
      "type": "object",
      "properties": {
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "title": "The exit code of the command that started the container"
        },
        "reason": {
          "type": "string",
          "title": "The reason a container terminated"
        },
        "message": {
          "type": "string",
          "title": "A more detailed explanation of a container's termination"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date a container started"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date a container terminated"
        }
      },
      "title": "Properties related to terminated containers"
    },
    "ContainerStatusWaiting": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "title": "The reason that a container is waiting to start"
        },
        "message": {
          "type": "string",
          "title": "A more detailed explanation of a container's waiting state"
        }
      },
      "title": "Properties related to containers that are starting up"
    },
    "DataMatrix": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMatrixResult"
          },
          "title": "A data point's value"
        }
      },
      "title": "A set of time series containing a range of data points over time for each time series"
    },
    "DataMatrixResult": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "The data points' labels"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataValue"
          },
          "title": "Time series data point values"
        }
      },
      "title": "Time series containing a range of data points over time for each time series"
    },
    "DataValue": {
      "type": "object",
      "properties": {
        "unixTime": {
          "type": "string",
          "title": "The time that a data point was recorded"
        },
        "value": {
          "type": "string",
          "title": "A data point's value"
        }
      },
      "title": "An individual metric data point"
    },
    "DataVector": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataVectorResult"
          },
          "title": "A data point's value"
        }
      },
      "title": "A set of time series containing a single sample for each time series, all sharing the same timestamp"
    },
    "DataVectorResult": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "The data points' labels"
        },
        "value": {
          "$ref": "#/definitions/DataValue"
        }
      },
      "title": "Time series containing a single sample for each time series, all sharing the same timestamp"
    },
    "GetMetricsRequestGroupBy": {
      "type": "string",
      "enum": [
        "NONE",
        "INSTANCE_NAME"
      ],
      "default": "NONE",
      "title": "The available fields to group instance metrics by"
    },
    "MetricsData": {
      "type": "object",
      "properties": {
        "matrix": {
          "$ref": "#/definitions/DataMatrix"
        },
        "vector": {
          "$ref": "#/definitions/DataVector"
        }
      },
      "title": "The data points in a metrics collection"
    },
    "VirtualMachineStatusPhase": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "PENDING",
        "SCHEDULING",
        "STARTING",
        "RUNNING",
        "STOPPED",
        "FAILED"
      ],
      "default": "UNKNOWN"
    },
    "VolumeClaimVolumeClaimPhase": {
      "type": "string",
      "enum": [
        "VOLUME_CLAIM_PHASE_UNSPECIFIED",
        "PENDING",
        "UNBOUND",
        "BOUND"
      ],
      "default": "VOLUME_CLAIM_PHASE_UNSPECIFIED",
      "description": "- VOLUME_CLAIM_PHASE_UNSPECIFIED: StackPath is unable to determine the volume claim's state\n - PENDING: The volume claim is pending\n - UNBOUND: The volume claim is unbound\n - BOUND: The volume claim is bound to an instance",
      "title": "Which phase a volume claim is currently in"
    },
    "apiStatusDetail": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "required": [
        "@type"
      ],
      "discriminator": "@type"
    },
    "paginationPageInfo": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "title": "The total number of items in the dataset"
        },
        "hasPreviousPage": {
          "type": "boolean",
          "format": "boolean",
          "title": "Whether or not a previous page of data exists"
        },
        "hasNextPage": {
          "type": "boolean",
          "format": "boolean",
          "title": "Whether or not another page of data is available"
        },
        "startCursor": {
          "type": "string",
          "title": "The cursor for the first item in the set of data returned"
        },
        "endCursor": {
          "type": "string",
          "title": "The cursor for the last item in the set of data returned"
        }
      },
      "description": "This is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination.",
      "title": "Information about a paginated response"
    },
    "paginationPageRequest": {
      "type": "object",
      "properties": {
        "first": {
          "type": "string",
          "title": "The number of items desired"
        },
        "after": {
          "type": "string",
          "title": "The cursor value after which data will be returned"
        },
        "filter": {
          "type": "string",
          "title": "SQL-style constraint filters"
        },
        "sortBy": {
          "type": "string",
          "title": "Sort the response by the given field"
        }
      },
      "description": "This is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination.",
      "title": "Pagination request information"
    },
    "prometheusMetrics": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/prometheusMetricsStatus"
        },
        "data": {
          "$ref": "#/definitions/MetricsData"
        },
        "errorType": {
          "type": "string",
          "title": "The type of error encountered when querying for metrics"
        },
        "error": {
          "type": "string",
          "title": "The error encountered when querying for metrics"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Warnings encountered when querying for metrics"
        }
      },
      "title": "A collection of metrics"
    },
    "prometheusMetricsStatus": {
      "type": "string",
      "enum": [
        "SUCCESS",
        "ERROR"
      ],
      "default": "SUCCESS",
      "title": "A metrics query's resulting status"
    },
    "stackpath.rpc.BadRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "fieldViolations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.BadRequest.FieldViolation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.BadRequest.FieldViolation": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.Help": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "links": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.Help.Link"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.Help.Link": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.LocalizedMessage": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "locale": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.PreconditionFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.PreconditionFailure.Violation": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.QuotaFailure": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "violations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/stackpath.rpc.QuotaFailure.Violation"
              }
            }
          }
        }
      ]
    },
    "stackpath.rpc.QuotaFailure.Violation": {
      "type": "object",
      "properties": {
        "subject": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "stackpath.rpc.RequestInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "requestId": {
              "type": "string"
            },
            "servingData": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.ResourceInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "resourceType": {
              "type": "string"
            },
            "resourceName": {
              "type": "string"
            },
            "owner": {
              "type": "string"
            },
            "description": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpath.rpc.RetryInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/apiStatusDetail"
        },
        {
          "type": "object",
          "properties": {
            "retryDelay": {
              "type": "string"
            }
          }
        }
      ]
    },
    "stackpathapiStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiStatusDetail"
          }
        }
      }
    },
    "v1ContainerCapabilities": {
      "type": "object",
      "properties": {
        "add": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "List of supported capabilities to add in container"
        },
        "drop": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "List of supported capabilities to drop from container"
        }
      },
      "title": "The specification for capabilities to add/drop when running containersSupported capabilities are [cap_chown, cap_dac_override, cap_dac_read_search, cap_fowner, cap_fsetid, cap_kill, cap_setgid, cap_setuid, cap_setpcap, cap_linux_immutable,cap_net_bind_service, cap_net_broadcast, cap_net_admin, cap_net_raw, cap_ipc_lock, cap_ipc_owner,cap_sys_chroot, cap_sys_ptrace, cap_sys_pacct, cap_sys_nice, cap_mknod, cap_lease, cap_setfcap]"
    },
    "v1ContainerImagePullPolicy": {
      "type": "string",
      "enum": [
        "CONTAINER_IMAGE_PULL_POLICY_UNSPECIFIED",
        "ALWAYS",
        "IF_NOT_PRESENT"
      ],
      "default": "CONTAINER_IMAGE_PULL_POLICY_UNSPECIFIED",
      "title": "The image pull policy for the container image. The value should be one of ALWAYS or IF_NOT_PRESENT"
    },
    "v1ContainerLifecycle": {
      "type": "object",
      "properties": {
        "postStart": {
          "$ref": "#/definitions/v1ContainerLifecycleHandler"
        },
        "preStop": {
          "$ref": "#/definitions/v1ContainerLifecycleHandler"
        }
      },
      "title": "Defines actions that the management system should take in response to container lifecycle events"
    },
    "v1ContainerLifecycleHandler": {
      "type": "object",
      "properties": {
        "httpGet": {
          "$ref": "#/definitions/v1HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "#/definitions/v1TCPSocketAction"
        }
      },
      "title": "Defines a specific lifecycle management action that should be taken"
    },
    "v1ContainerSecurityContext": {
      "type": "object",
      "properties": {
        "runAsUser": {
          "type": "string",
          "title": "The user UID to run the entry point of the container process"
        },
        "runAsGroup": {
          "type": "string",
          "title": "The user GID to run the entry point of the container process"
        },
        "runAsNonRoot": {
          "type": "boolean",
          "format": "boolean",
          "title": "Indicates that the container must run as a non-root user"
        },
        "readOnlyRootFilesystem": {
          "type": "boolean",
          "format": "boolean",
          "title": "Indicates whether this container has a read-only root filesystem"
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "format": "boolean",
          "title": "Controls whether a process can gain more privileges than its parent process"
        },
        "capabilities": {
          "$ref": "#/definitions/v1ContainerCapabilities"
        }
      },
      "title": "Security configuration that will be applied to a container"
    },
    "v1ContainerSpec": {
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "title": "The location of a Docker image to run as a container"
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "The commands that start a container"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Arguments to the container entry point"
        },
        "workingDir": {
          "type": "string",
          "title": "Container's working directory"
        },
        "env": {
          "$ref": "#/definitions/v1EnvironmentVariableMapEntry"
        },
        "ports": {
          "$ref": "#/definitions/v1InstancePortMapEntry"
        },
        "livenessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "readinessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "startupProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1InstanceVolumeMount"
          },
          "title": "Volumes to mount in the container"
        },
        "lifecycle": {
          "$ref": "#/definitions/v1ContainerLifecycle"
        },
        "terminationMessagePath": {
          "type": "string",
          "title": "Mounted file path at which the container's termination message will be written"
        },
        "terminationMessagePolicy": {
          "$ref": "#/definitions/v1ContainerTerminationMessagePolicy"
        },
        "imagePullPolicy": {
          "$ref": "#/definitions/v1ContainerImagePullPolicy"
        },
        "securityContext": {
          "$ref": "#/definitions/v1ContainerSecurityContext"
        }
      },
      "title": "The specification for the desired state of a container in a workload"
    },
    "v1ContainerSpecMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1ContainerSpec"
      },
      "title": "A string to container configuration key/value pair"
    },
    "v1ContainerStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "A container status' name"
        },
        "phase": {
          "$ref": "#/definitions/v1ContainerStatusContainerPhase"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date a container started"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date a container terminated"
        },
        "waiting": {
          "$ref": "#/definitions/ContainerStatusWaiting"
        },
        "running": {
          "$ref": "#/definitions/ContainerStatusRunning"
        },
        "terminated": {
          "$ref": "#/definitions/ContainerStatusTerminated"
        },
        "ready": {
          "type": "boolean",
          "format": "boolean",
          "title": "Whether or not a container is running and ready for service"
        },
        "restartCount": {
          "type": "integer",
          "format": "int32",
          "title": "How many times a container has restarted since it was first started"
        },
        "containerId": {
          "type": "string",
          "title": "A unique value that identifies a container"
        }
      },
      "title": "The status of a container in a workload"
    },
    "v1ContainerStatusContainerPhase": {
      "type": "string",
      "enum": [
        "CONTAINER_PHASE_UNSPECIFIED",
        "STARTING",
        "RUNNING",
        "FAILED",
        "STOPPED"
      ],
      "default": "CONTAINER_PHASE_UNSPECIFIED",
      "description": "- CONTAINER_PHASE_UNSPECIFIED: The container has not reported a state back or StackPath is unable to determine the container's state\n - STARTING: The container is starting up\n - RUNNING: The container is running\n - FAILED: The container has terminated due to a failure\n - STOPPED: The container was terminated by the user",
      "title": "Which phase of runtime a container is currently in"
    },
    "v1ContainerTerminationMessagePolicy": {
      "type": "string",
      "enum": [
        "CONTAINER_TERMINATION_MESSAGE_POLICY_UNSPECIFIED",
        "FILE",
        "FALLBACK_TO_LOGS_ON_ERROR"
      ],
      "default": "CONTAINER_TERMINATION_MESSAGE_POLICY_UNSPECIFIED",
      "title": "The policy indicating how the termination message should be populated"
    },
    "v1CreateImageRequest": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        },
        "instanceVolumeSource": {
          "$ref": "#/definitions/v1ImageSourceInstanceVolume"
        }
      },
      "title": "A request to create an image"
    },
    "v1CreateImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": "A response from a request to create an image"
    },
    "v1CreateWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A request to create a workload"
    },
    "v1CreateWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A response from a request to add a workload to a stack"
    },
    "v1DNSConfig": {
      "type": "object",
      "properties": {
        "nameservers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "A list of DNS name server IP addresses"
        },
        "searches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "A list of DNS search domains for hostname lookup"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1DNSConfigOption"
          },
          "title": "A list of DNS resolver options"
        }
      },
      "title": "Specification to control DNS settings for workload instanceIt is used to control resolver config such as DNS nameservers, search domains and resolver options for workload instance"
    },
    "v1DNSConfigOption": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "DNS config name"
        },
        "value": {
          "type": "string",
          "title": "DNS config value"
        }
      },
      "title": "Specification for DNS resolver options, More information about DNS resolveroptions are available here - https://www.man7.org/linux/man-pages/man5/resolv.conf.5.html"
    },
    "v1DeploymentSpec": {
      "type": "object",
      "properties": {
        "minReplicas": {
          "type": "integer",
          "format": "int32",
          "title": "The minimum number of instances in a deployment"
        },
        "maxReplicas": {
          "type": "integer",
          "format": "int32",
          "title": "The maximum number of instances in a deployment"
        },
        "scaleSettings": {
          "$ref": "#/definitions/v1ScaleSettings"
        },
        "selectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1MatchExpression"
          },
          "title": "A collection of filters that match the deployment's scope"
        }
      },
      "title": "A deployment's specification"
    },
    "v1DockerRegistryCredentials": {
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "The server that the credentials should be used with. This value will default to the docker hub registry when not set.",
          "title": "The server that the credentials should be used with"
        },
        "username": {
          "type": "string",
          "title": "The username that should be used for authenticate the image pull"
        },
        "password": {
          "type": "string",
          "title": "The password that should be used to authenticate the image pull"
        },
        "email": {
          "type": "string",
          "title": "The email address to use for the docker registry account"
        }
      },
      "title": "The authentication configuration that should be used to pull images from a docker registry"
    },
    "v1EnvironmentVariable": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "title": "An environment variable's value"
        },
        "secretValue": {
          "type": "string",
          "title": "A sensitive environment variable that should not be exposed"
        },
        "valueFrom": {
          "$ref": "#/definitions/v1EnvironmentVariableSource"
        }
      },
      "title": "The location to obtain a value for an environment variable"
    },
    "v1EnvironmentVariableMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1EnvironmentVariable"
      },
      "title": "A string to environment variable key/value pair"
    },
    "v1EnvironmentVariableSource": {
      "type": "object",
      "properties": {
        "instanceFieldRef": {
          "$ref": "#/definitions/v1InstanceFieldRef"
        }
      },
      "title": "The source for an environment variable"
    },
    "v1GetImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": "A response from a request to retrieve an individual image"
    },
    "v1GetImagesForFamilyResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Image"
          },
          "title": "The requested images"
        }
      },
      "title": "A response from a request to retrieve images by a family"
    },
    "v1GetImagesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Image"
          },
          "title": "The requested images"
        }
      },
      "title": "A response from a request to retrieve images for a stack"
    },
    "v1GetLocationsResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workloadv1Location"
          },
          "title": "The requested locations"
        }
      },
      "title": "A response from a request to retrieve the locations a workload may be created at"
    },
    "v1GetMetricsRequestGranularity": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "PT5M",
        "PT1H",
        "P1D",
        "PT1M"
      ],
      "default": "DEFAULT",
      "description": "This field does not apply when retrieving INSTANCE type metrics\n\n - DEFAULT: The current default is PT5M\n - PT5M: Metrics every five minutes\n - PT1H: Metrics every hour\n - P1D: Metrics every day\n - PT1M: Metrics every one minute",
      "title": "The time granularity of retrieved metrics"
    },
    "v1GetMetricsRequestTrafficRegion": {
      "type": "string",
      "enum": [
        "ALL",
        "LOCAL_NODE",
        "LOCAL_POP",
        "NORTH_AMERICA",
        "EUROPE",
        "ASIA",
        "OCEANIA",
        "SOUTH_AMERICA",
        "MARKETPLACE",
        "INTERNAL",
        "INTERNET",
        "AFRICA",
        "MIDDLE_EAST"
      ],
      "default": "ALL",
      "description": "This field does not apply when retrieving INSTANCE type metrics",
      "title": "A geographic or network region to filter traffic metrics for"
    },
    "v1GetMetricsRequestType": {
      "type": "string",
      "enum": [
        "BANDWIDTH",
        "INSTANCE"
      ],
      "default": "BANDWIDTH",
      "description": "- BANDWIDTH: Bandwidth ingress and egress metrics\n - INSTANCE: Instance CPU, memory, and filesystem metrics",
      "title": "The types of metrics that can be retrieved"
    },
    "v1GetWorkloadInstanceInitialPasswordResponse": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        }
      },
      "title": "A response from a request to retrieve a workload's instance's initial password"
    },
    "v1GetWorkloadInstanceResponse": {
      "type": "object",
      "properties": {
        "instance": {
          "$ref": "#/definitions/workloadv1Instance"
        }
      },
      "title": "A response from a request to retrieve a workload's instances"
    },
    "v1GetWorkloadInstancesResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/workloadv1Instance"
          },
          "title": "The requested workload instances"
        }
      },
      "title": "A response from a request to retrieve a workload's instances"
    },
    "v1GetWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A response from a request to retrieve an individual workload"
    },
    "v1GetWorkloadsResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "#/definitions/paginationPageInfo"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Workload"
          },
          "title": "The requested workloads"
        }
      },
      "title": "A response from a request to retrieve a stack's workloads"
    },
    "v1HTTPGetAction": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "title": "The path portion of the URL to request"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "title": "The TCP port to query in the HTTP request"
        },
        "scheme": {
          "type": "string",
          "title": "HTTP scheme to use in the HTTP request"
        },
        "httpHeaders": {
          "$ref": "#/definitions/v1StringMapEntry"
        }
      },
      "title": "Execute an HTTP GET request against an endpoint running on an instance"
    },
    "v1HostAlias": {
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "title": "An IP address to be injected in container workload instance's host file"
        },
        "hostnames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "A list of hostnames to be injected in container workload instance's host file"
        }
      },
      "title": "The hosts and IPs that will be injected into the container workload instance's hosts file"
    },
    "v1IPFamily": {
      "type": "string",
      "enum": [
        "IP_FAMILY_UNSPECIFIED",
        "IPv4",
        "IPv6"
      ],
      "default": "IP_FAMILY_UNSPECIFIED",
      "description": "- IP_FAMILY_UNSPECIFIED: Unknown IP family\n - IPv4: IPv4 IP family.\n - IPv6: IPv6 IP family. Currently, IPv6 IP family must be used with IPv4.",
      "title": "supported IP families"
    },
    "v1Image": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "title": "The ID of the stack that an image belongs to"
        },
        "id": {
          "type": "string",
          "title": "An image's unique identifier"
        },
        "family": {
          "type": "string",
          "title": "An image's family"
        },
        "tag": {
          "type": "string",
          "title": "The image's tag"
        },
        "metadata": {
          "$ref": "#/definitions/v1ImageMetadata"
        },
        "description": {
          "type": "string",
          "description": "Maximum 1000 characters.",
          "title": "An image's optional description"
        },
        "status": {
          "$ref": "#/definitions/v1ImageStatus"
        },
        "imageSize": {
          "type": "string",
          "description": "This is a read-only value that's only available on ready images.",
          "title": "An image's archive size in bytes"
        },
        "volumeSize": {
          "type": "string",
          "description": "This is a read-only value that's only available on ready images.",
          "title": "An image's volume size in bytes"
        },
        "deprecation": {
          "$ref": "#/definitions/v1ImageDeprecation"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ImageCondition"
          },
          "title": "Details for the current condition of an image"
        },
        "capabilities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "A computing image"
    },
    "v1ImageCondition": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "title": "Type of the condition"
        },
        "status": {
          "$ref": "#/definitions/v1ImageConditionStatus"
        },
        "checkedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The last time the condition was checked"
        },
        "transitionedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The last time the condition transitioned status"
        },
        "reason": {
          "type": "string",
          "title": "A stable identifier for the reason the condition is in its current state"
        },
        "message": {
          "type": "string",
          "title": "A human readable message with details regarding the condition"
        }
      },
      "title": "Details for the current condition of an image"
    },
    "v1ImageConditionStatus": {
      "type": "string",
      "enum": [
        "IMAGE_CONDITION_STATUS_UNKNOWN",
        "TRUE",
        "FALSE"
      ],
      "default": "IMAGE_CONDITION_STATUS_UNKNOWN",
      "description": "- IMAGE_CONDITION_STATUS_UNKNOWN: The condition status is unknown\n - TRUE: The condition is true\n - FALSE: The condition is false",
      "title": "Which status an image is currently in"
    },
    "v1ImageDeprecation": {
      "type": "object",
      "properties": {
        "deprecationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Deprecated images may still be used when creating instances, but users will want to upgrade.",
          "title": "The date which the image will be deprecated"
        },
        "obsoletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Obsolete images cannot be used when creating instances. When present, deprecation date must also present and on or before this value.",
          "title": "The date which the image will be obsolete"
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "This value cannot be before the deprecation or obsoletion dates (when they are present).",
          "title": "The date when the image will be deleted"
        }
      },
      "title": "Deprecation settings for an image"
    },
    "v1ImageMetadata": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "labels": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date that a workload image was created"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "title": "The date that a workload image was last updated"
        }
      },
      "title": "Metadata associated with a workload image"
    },
    "v1ImagePullCredential": {
      "type": "object",
      "properties": {
        "dockerRegistry": {
          "$ref": "#/definitions/v1DockerRegistryCredentials"
        }
      },
      "title": "The credentials that should be used to pull the container image"
    },
    "v1ImageSourceInstanceVolume": {
      "type": "object",
      "properties": {
        "workloadId": {
          "type": "string",
          "title": "The ID or slug of the workload containing the instance to reference"
        },
        "instanceName": {
          "type": "string",
          "title": "An instance's name to reference a volume on"
        },
        "volumeClaimSlug": {
          "type": "string",
          "title": "A reference to the volume to create an image from or unset for the root volume"
        }
      },
      "title": "A reference to the volume of an instance to capture an image from"
    },
    "v1ImageStatus": {
      "type": "string",
      "enum": [
        "IMAGE_STATUS_UNKNOWN",
        "PENDING",
        "PROCESSING",
        "READY",
        "FAILED"
      ],
      "default": "IMAGE_STATUS_UNKNOWN",
      "description": "- IMAGE_STATUS_UNKNOWN: The image status is unknown\n - PENDING: The image is pending creation\n - PROCESSING: The image is processing\n - READY: The image is ready\n - FAILED: The image failed to be created",
      "title": "Which capture status an image is currently in"
    },
    "v1InstanceFieldRef": {
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "This is a json path expression to an instance field. For example: `.name`, `.location.cityCode`, `.ipAddress`, `.containers[0].image`, `.networkInterfaces[?(@.network==\"default\")].gateway`.  Dots inside of map keys need to be escaped: `.metadata.labels['workload\\.platform\\.stackpath\\.net/workload-slug']`. Recursive descent, union operators, and range/end are not allowed.",
          "title": "The json path to an instance field"
        },
        "optional": {
          "type": "boolean",
          "format": "boolean",
          "description": "If a field is optional there is no guarantee that the value will be provided to the environment before the container starts.",
          "title": "If the field value is not required to start an instance"
        }
      },
      "title": "The reference to a field on an instance"
    },
    "v1InstancePort": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "title": "The network port"
        },
        "protocol": {
          "type": "string",
          "description": "Values are either \"TCP\" or \"UDP\". Defaults to \"TCP\".",
          "title": "The network protocol for the port"
        },
        "enableImplicitNetworkPolicy": {
          "type": "boolean",
          "format": "boolean",
          "description": "When true, this port will be given an implicit network policy of priority 65534 permitting 0.0.0.0/0 access to the port. This can be overridden by creating network policies of a higher priority to block the port.",
          "title": "Allow the internet to connect to the port"
        }
      },
      "title": "A named port for an instance of a workload"
    },
    "v1InstancePortMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1InstancePort"
      },
      "title": "A string to network port key/value pair"
    },
    "v1InstanceVolumeMount": {
      "type": "object",
      "properties": {
        "slug": {
          "type": "string",
          "title": "The slug of the volume claim to mount"
        },
        "mountPath": {
          "type": "string",
          "title": "The path in an instance to mount a volume"
        }
      },
      "title": "Describes mounting a volume on containers or vms in an instance"
    },
    "v1MatchExpression": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "title": "The name of the selector to perform a match against"
        },
        "operator": {
          "type": "string",
          "description": "Valid values are \"In\", \"NotIn\", \"Exists\", and \"DoesNotExist\".",
          "title": "The operation to perform to match a selector"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "The values to match in the selector"
        }
      },
      "title": "An expression to match selectors against a set of values"
    },
    "v1Metadata": {
      "type": "object",
      "properties": {
        "annotations": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "labels": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "title": "The date that a metadata entry was created"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true,
          "title": "The date that a metadata entry was last updated"
        },
        "deleteRequestedAt": {
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "format": "date-time",
          "title": "The date an entity was requested to be deleted"
        },
        "version": {
          "type": "string",
          "description": "Metadata versions start at 1 when they are created and increment by 1 every time they are updated.",
          "title": "A metadata entry's version number"
        }
      },
      "title": "Metadata associated with an entity"
    },
    "v1MetricSpec": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "title": "The metric to measure against"
        },
        "averageValue": {
          "type": "string",
          "description": "The target average value for the metric measured across all instances within a deployment, expressed as a quantity."
        },
        "averageUtilization": {
          "type": "integer",
          "format": "int32",
          "description": "The target average value for the metric measured across all instances within a deployment, expressed as a percentage of requested resources."
        }
      }
    },
    "v1NetworkInterface": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "title": "A network interface's slug"
        },
        "ipFamilies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1IPFamily"
          },
          "description": "This is an optional property and supports ['IPv4'] or ['IPv4', 'IPv6'] list",
          "title": "A list of IP families to use for interface ip assignments"
        },
        "subnet": {
          "type": "string",
          "description": "An IPv4 subnet interface's slug. This is an optional property used to attach a specific network interface to a IPv4 subnet."
        },
        "ipv6Subnet": {
          "type": "string",
          "description": "An IPv6 subnet interface's slug. This is an optional property used to attach a specific network interface to a ipv6 subnet."
        },
        "enableOneToOneNat": {
          "type": "boolean",
          "format": "boolean",
          "description": "This is an optional property used to enable OR disable the NAT'ing of the specifc network interface.NAT is enabled by default on the first / primary interface and disabled on secondary / multi interfacesUser can disable NAT on the first / primary interface, by marking this property - falseUser can enable NAT on secondary / multi interface, by marking this property - trueExcludeNAT Annotation supercedes this property",
          "title": "Provide one to one NAT for this specific network’s interface"
        }
      },
      "title": "Network interfaces that will be created on instances in the workload"
    },
    "v1Probe": {
      "type": "object",
      "properties": {
        "httpGet": {
          "$ref": "#/definitions/v1HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "#/definitions/v1TCPSocketAction"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "format": "int32",
          "title": "The number of seconds after a workload instance has started before liveness probes are initiated"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Defaults to 1 second. Minimum value is 1.",
          "title": "The number of seconds after which a probe times out"
        },
        "periodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Default to 10 seconds. Minimum value is 1.",
          "title": "How often, in seconds, to perform a probe"
        },
        "successThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Defaults to 1. Must be 1 for liveness. Minimum value is 1.",
          "title": "The minimum consecutive successes for a probe to be considered successful after having failed"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Defaults to 3. Minimum value is 1.",
          "title": "The minimum consecutive failures for a probe to be considered failed after having succeeded"
        }
      },
      "title": "A health check probe against a workload instance to determine if it is alive or ready to receive traffic"
    },
    "v1PutWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A request to replace an existing workload"
    },
    "v1PutWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A response from a request to replace an existing workload"
    },
    "v1ResourceRequirements": {
      "type": "object",
      "properties": {
        "requests": {
          "$ref": "#/definitions/v1StringMapEntry"
        },
        "limits": {
          "$ref": "#/definitions/v1StringMapEntry"
        }
      },
      "description": "Resource requirements are key/value pairs.\n\nResource requirements for an object. The values supported by workloads are:\n- cpu\n- memory\n- nvidia-a16: limited to specific markets\n- ephemeral-storage: deprecated and has no effect"
    },
    "v1ScaleSettings": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1MetricSpec"
          },
          "description": "Metrics to observe for invoking scaling events."
        }
      }
    },
    "v1StringMapEntry": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "title": "A string to string key/value pair"
    },
    "v1Sysctl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Sysctl property name"
        },
        "value": {
          "type": "string",
          "title": "Sysctl property value"
        }
      },
      "title": "Kernel sysctl parameter to optimize the performance of a container"
    },
    "v1TCPSocketAction": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "title": "The TCP port to quert"
        }
      },
      "title": "Connect to an instance's TCP port"
    },
    "v1Target": {
      "type": "object",
      "properties": {
        "spec": {
          "$ref": "#/definitions/v1TargetSpec"
        }
      },
      "title": "How instances in a workload should be deployed"
    },
    "v1TargetMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1Target"
      },
      "title": "A string to deployment target key/value pair"
    },
    "v1TargetSpec": {
      "type": "object",
      "properties": {
        "deploymentScope": {
          "type": "string",
          "title": "The scope at which a deployment should be created. Valid values are: \"cityCode\""
        },
        "deployments": {
          "$ref": "#/definitions/v1DeploymentSpec"
        }
      },
      "title": "The specification for a target"
    },
    "v1UpdateImageDeprecationResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": "A response from a request to update image deprecation settings"
    },
    "v1UpdateImageRequest": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": "A request to update an image"
    },
    "v1UpdateImageResponse": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "#/definitions/v1Image"
        }
      },
      "title": "A response from a request to update an image"
    },
    "v1UpdateWorkloadRequest": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A request to update a workload"
    },
    "v1UpdateWorkloadResponse": {
      "type": "object",
      "properties": {
        "workload": {
          "$ref": "#/definitions/v1Workload"
        }
      },
      "title": "A response from a request to update a workload"
    },
    "v1VirtualMachineSpec": {
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "This is in the format of \u003cstack-slug\u003e/\u003cimage-family\u003e[:\u003cimage-tag\u003e]. If the image tag portion is omitted, 'default' is assumed which is the most recently created, ready, and non-deprecated image of that slug. A set of common images is present on the 'stackpath-edge' stack.",
          "title": "The image to use for the virtual machine"
        },
        "userData": {
          "type": "string",
          "format": "base64",
          "title": "Base64 encoded cloud-init compatible user-data"
        },
        "ports": {
          "$ref": "#/definitions/v1InstancePortMapEntry"
        },
        "livenessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "readinessProbe": {
          "$ref": "#/definitions/v1Probe"
        },
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "volumeMounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1InstanceVolumeMount"
          },
          "title": "Volumes to mount in the virtual machine"
        }
      },
      "title": "The specification for the desired state of a virtual machine in a workload"
    },
    "v1VirtualMachineSpecMapEntry": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/v1VirtualMachineSpec"
      },
      "title": "A string to virtual machine configuration key/value pair"
    },
    "v1VirtualMachineStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "The name of the virtual machine the status applies to"
        },
        "phase": {
          "$ref": "#/definitions/VirtualMachineStatusPhase"
        },
        "reason": {
          "type": "string",
          "title": "A short reason why the virtual machine is in its current phase"
        },
        "message": {
          "type": "string",
          "title": "A longer message with details about why the virtual machine is in its current phase"
        }
      },
      "title": "The status of a Virtual Machine"
    },
    "v1VolumeClaim": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "title": "The ID of the stack that a volume claim belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "title": "A volume claim's unique identifier"
        },
        "name": {
          "type": "string",
          "title": "A volume claim's name as it appears in the StackPath portal"
        },
        "slug": {
          "type": "string",
          "description": "Volume claim slugs are used to programatically label a claim",
          "title": "A volume claim's programmatic name"
        },
        "metadata": {
          "$ref": "#/definitions/v1Metadata"
        },
        "spec": {
          "$ref": "#/definitions/v1VolumeClaimSpec"
        },
        "phase": {
          "readOnly": true,
          "$ref": "#/definitions/VolumeClaimVolumeClaimPhase"
        }
      },
      "description": "Volumes may be attached to workload instance containers or virtual machines",
      "title": "A claim for a volume"
    },
    "v1VolumeClaimSpec": {
      "type": "object",
      "properties": {
        "resources": {
          "$ref": "#/definitions/v1ResourceRequirements"
        },
        "storageClass": {
          "type": "string",
          "description": "This defaults to the 'stackpath-edge/san' value if none is provided.",
          "title": "Storage class for a volume claim"
        }
      },
      "title": "The specification for a volume claim"
    },
    "v1Workload": {
      "type": "object",
      "properties": {
        "stackId": {
          "type": "string",
          "readOnly": true,
          "title": "The ID of the stack that a workload belongs to"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "title": "A workload's unique identifier"
        },
        "name": {
          "type": "string",
          "title": "A workload's name as it appears in the StackPath portal"
        },
        "slug": {
          "type": "string",
          "description": "Workload slugs are used to build its instances names",
          "title": "A workload's programmatic name"
        },
        "metadata": {
          "$ref": "#/definitions/v1Metadata"
        },
        "spec": {
          "$ref": "#/definitions/v1WorkloadSpec"
        },
        "targets": {
          "$ref": "#/definitions/v1TargetMapEntry"
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/v1WorkloadStatus"
        }
      },
      "description": "Workloads define a computing application to deploy to StackPath's edge network.",
      "title": "A computing workload"
    },
    "v1WorkloadInstanceContainerRuntimeSettings": {
[...]
